header{
background-color: #1e90ff;	
}

.header{
margin: auto;
text-align: center;
background-color: #1e90ff;
margin: 0px 0px 0px 0px;
}

#logo{
padding: 10px 0px 0px 0px;
}

#login{
position: absolute;
right: 0px;
text-align: right!important;
margin: 5px 5px 0px 0px;
}

.center {
margin-left: auto;
margin-right: auto;
width: 100%;
text-align: center;
}

#nav {
list-style: none;
margin: auto;
width:100%!important;
padding: 0px;
text-align: center;
background-color: #1e90ff;
}

li.navbaritem {
float: left;
list-style-type: none;
}

li.navbaritem>a:link,li.navbaritem>a:visited {
text-align: center!important;
height: 40px;
display: inline-block;
width: 125px;
color: #000000;
background-color: #1e90ff;
text-decoration: none;
font-family: 'Raleway', sans-serif;
padding: 15px 6px 0px 6px;
}

li.navbaritem>a:hover,li.navbaritem>a:active {
background-color: #6bb6ff;
}

#navWrap {
height: 30px;
}

#nav ul {
margin: 0;
padding: 0;
display: inline-block;
list-style-type: none;    
}

br.clearLeft {
clear: left;
}

body{
font-family:'Raleway', sans-serif;
margin: 0;
padding: 0;
background-color: #dbdbdb;
}

.content{
height: 90%;
width:100%;
}

#frontpage{
width: 100%;
height: auto;
}

.text{
margin:0px 8px 0px 8px;
text-align: justify;
}

p{
font-family:'Calibri', sans-serif;
}

footer{
 clear: both;
 position: relative;
 z-index: 10;
 height: 3em;
 margin-top: -3em;
 text-align: center;
}